.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.basket-txt {
  color: #FDEADC;
}

.burger-line {
  height: 3px;
  width: 25px;
  background-color: white;
}

#burger-menu {
  height: 30px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  margin-right: 50px;
}

.header-logo {
  margin-left: 50px;
}

.header-logo:hover {
  filter: drop-shadow(0px 0px 4px #ffffff);
}

.orange-inline {
  font-family: 'Palaquin-Bold';
  font-weight: 700;
  font-size: 4.5rem;
  color: #E76C1F;
}

.restaurant-details {
  margin-top: -150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.evaluation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background-color: #FACAAC;
  padding: 2px;
  margin-top: 20px;
  gap: 4px;
}

.flex-title {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sub-title {
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

.footer-positioning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 30px;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  text-decoration: underline;
  scale: calc(1.1);
  text-shadow:
    1px 1px 2px red,
    0 0 1rem #FACAAC,
    0 0 0.2rem #FACAAC;
}

#content-wrapper {
  width: 100%;
  display: flex;
}

#main-content {
  width: calc(100% - 300px)
}

#basket-content {
  width: 300px;
  height: 500px;
  flex-grow: 1;
  padding: 16px;
  position: sticky;
  top: 0;
  border-radius: 10px;
  background-color: #333;
}

.mother-container{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.dish-title {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #E76C1F;
}

.order-section {
  background-color: #fdeadc;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  padding: 15px;
  gap: 15px;
}

.positioning-name-price,
.positioning-description-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.positioning-items{
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#basket-btn{
  background-color: #ffffff;
  border-radius: 15px;
}

.positioning-basket{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}