.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.basket-txt {
  color: #FDEADC;
}

.burger-line {
  height: 3px;
  width: 25px;
  background-color: white;
}

#burger-menu {
  height: 30px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  margin-right: 50px;
}

.header-logo {
  margin-left: 50px;
}

.header-logo:hover {
  filter: drop-shadow(0px 0px 4px #ffffff);
}

.orange-inline {
  font-family: 'Palaquin-Bold';
  font-weight: 700;
  font-size: 4.5rem;
  color: #E76C1F;
}

.restaurant-details {
  margin-top: -150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.evaluation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background-color: #FACAAC;
  padding: 2px;
  margin-top: 36px;
  gap: 4px;
}

.flex-title {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sub-title {
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

.footer-positioning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 30px;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  text-decoration: underline;
  scale: calc(1.1);
  text-shadow:
    1px 1px 2px #E76C1F,
    0 0 1rem #FACAAC,
    0 0 0.2rem #FACAAC;
}

#content-wrapper {
  width: 100%;
  display: flex;
}

#main-content {
  width: calc(100% - 300px)
}

#basket-content {
  width: 300px;
  height: 530px;
  flex-grow: 1;
  padding: 16px;
  position: sticky;
  top: 0;
  border-radius: 10px;
  background-color: #333;
}

.mother-container{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.dish-title {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #E76C1F;
}

.close-position{
  display: flex;
  justify-content: end;
  margin-right: 15px;
}

#title-in-dish-title{
  color: #ffffff;
}

.order-section {
  background-color: #fdeadc;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  padding: 15px;
  gap: 15px;
}

.positioning-name-price,
.positioning-description-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.positioning-items{
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.basket-btn,
.order-btn{
  background-color: #ffffff;
  border-radius: 15px;
}

.basket-btn:hover{
  scale: calc(1.1);
}

.added-btn-txt{
  color: #E76C1F;
  font-weight: 700;
}

.positioning-basket{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#basket-title,
.basket-subtitle,
.dialog-subtitle{
  text-align: center;
  color: #FDEADC;
}

.show-mobile-basket{
  width: 100%;
  background-color: #E76C1F;
  border-radius: 15px;
}

.button-txt{
  color: #ffffff;
}

.mother-basket{
  background-color: #FDEADC;
  border-radius: 15px;
  margin-bottom: 10px;
}

.basket-positioning{
  display: flex;
  gap: 2px;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add,
.delete{
  height: 29px;
  width: 29px;
  font-size: 2.4rem;
}

.add:hover,
.delete:hover{
  scale: calc(1.2);
}

.button-positioning{
  display: flex;
  align-items: center;
}

#basket-items{
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.seperator{
  margin-top: 10px;
  height: 2px;
  width: 100%;
  background-color: #FDEADC;
}

.checkout-flex{
  display: flex;
  justify-content: space-between;
}

.order-position{
  display: flex;
  justify-content: center;
}

.order-btn{
  background-color: #E76C1F;
  width: 100%;
}

.order-btn:hover{
  background-color: #e18044;
    scale: calc(1.05);
}

.order{
  color: #ffffff;
}

#checkout-dialog {
  border: none;
  margin: auto;
  padding: 20px;
  width: 500px;
  background-color: #333;
  border-radius: 20px;
}

#checkout-dialog[open]{
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkout-dialog::backdrop {
  opacity: 0;
  background-color: #00000025;
  backdrop-filter: blur(3px);
  transition: all 0.25s ease-in;
}

#checkout-dialog.opened::backdrop {
  opacity: 0.85;
  background-color: #00000025;
  transition: all 0.25s ease-in;
}

.checkout-window{
  display: flex;
  justify-content: flex-end;
}

.dialog-window{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.x-close{
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}

.x-close{
  scale: calc(1.1);
}

.waiting-time{
  color: #E76C1F;
}

@media (max-width: 1260px){
  .order-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .positioning-items{
    width: 100%;
  }

  .basket-btn{
    width: 90%;
  }
}

@media (max-width: 970px){
  #main-content {
    width: 100%;
  }

  .mother-container{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #basket-content {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #333;
    z-index: 999;
    border-radius: 0;
  }

  #basket-content.show{
    display: block;
  }

  #basket-items{
    scrollbar-width: none;
    overflow-y: auto;
  }

  .order-btn{
    width: 90%;
  }

  .d-none{
    display: flex;
  }

  .mobile-basket-btn{
    background-color: #E76C1F;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    border: solid #333 1px;
    height: 40px;
  }

  .mobile-basket-btn:hover{
    background-color: #e18044;
  }
}

@media (max-width: 500px){
  .footer-positioning{
    flex-direction: column;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 420px){
  .flex-title{
    flex-direction: column;
    gap: 0;
  }

  .evaluation{
    margin-top: 0;
  }

  h1{
    text-align: center;
  }

  .sub-title{
    text-align: center;
  }
}