html,
* {
  max-width: 1920px;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box;
}

header,
footer {
  background-color: #E76C1F;
}

button {
  border-width: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Palanquin-Medium';
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  font-family: 'Palanquin-Bold';
  font-size: 4.5rem;
  font-weight: 700;
  color: #363534;
}

h2 {
  font-family: 'Palanquin-Bold';
  font-size: 3.8rem;
  font-weight: 700;
  color: #363534;
}

h3 {
  font-family: 'Palanquin-Bold';
  font-size: 3.0rem;
  font-weight: 700;
  color: #363534;
}

h4 {
  font-family: 'Palanquin-Bold';
  font-size: 2.6rem;
  font-weight: 700;
  color: #363534;
}

h5{
   font-family: 'Palanquin-Bold';
  font-size: 2.0rem;
  font-weight: 700;
  color: #E76C1F; 
}

p {
  font-family: 'Palanquin-Medium';
  font-size: 1.6rem;
  font-weight: 400;
  color: #363534;
}

span {
  font-family: 'Palanquin-Medium';
  font-weight: 400;
  font-size: 1.6rem;
  color: #363534;
}

@media (max-width: 360px){
  h2{
    font-size: 3rem;
  }
}