html,
* {
  max-width: 1920px;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

header,
footer {
  background-color: #E76C1F;
}

section {
  background-color: #FDEADC;
}

button {
  border-width: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}