.imprint-page {
  p {
    margin-bottom: 0.5rem;
  }

  h1 {
    font-family: 'Palaquin-Bold';
    font-size: 4.5rem;
    font-weight: 700;
    color: #363534;
    margin-top: 1rem;
    margin-bottom: 1.9rem;
  }

  h2 {
    font-family: 'Palaquin-Bold';
    font-size: 3.5rem;
    font-weight: 700;
    color: #363534;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-family: 'Palaquin-Bold';
    font-size: 3.0rem;
    font-weight: 700;
    color: #363534;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  a {
    color: #E76C1F;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .operator {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .contact-data {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .container {
    padding-top: 5rem;
  }

  .epilogue {
    padding-bottom: 3rem;
  }

  .seal {
    padding-bottom: 3rem;
  }
}